<section ng-controller="MapasController" ng-init="find()">
  <div class="page-header">
    <h1>Mapas</h1>
  </div>a
  <div id="mapDiv"></div>
  <div class="list-group">
    <a ng-repeat="mapa in mapas" ui-sref="mapas.view({mapaId: mapa._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="mapa.created | date:'mediumDate'"></span>
        by
        <span ng-bind="mapa.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="mapa.title"></h4>
      <p class="list-group-item-text" ng-bind="mapa.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="mapas.$resolved && !mapas.length">
    No mapas yet, why don't you <a ui-sref="mapas.create">create one</a>?
  </div>
</section>
