@keyframes fadeinphoto {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fadeinphoto {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.layer {
  height: 100%;
  width: 100%;
  display: block;
  background-color: white;
  position: relative;
  top: 800px; }

.img {
  width: 100%; }
  .img img {
    height: 100vh;
    opacity: .5;
    width: inherit; }
  .img .writing {
    position: absolute;
    background: black;
    margin-left: 27%;
    margin-top: 10%;
    font-size: 50px;
    color: white; }
    .img .writing .prompt {
      animation: fadeinphoto 1s 0.5s infinite;
      -moz-animation: fadeinphoto 1s 0.5s infinite;
      -webkit-animation: fadeinphoto 1s 0.5s infinite;
      -o-animation: fadeinphoto 1s 0.5s infinite; }

.icon-box i {
  -webkit-transition: 2s;
  transition: 2s;
  color: black;
  background-color: white; }

.icon-box:hover i {
  -webkit-transition: 2s;
  transition: 2s;
  background-color: #05D; }

.icon-box:hover i:before {
  -webkit-transition: 2s;
  transition: 2s;
  color: white; }

.contacto {
  background: #434a75;
  color: white;
  margin-top: 50px;
  padding: 2%; }

.row.text-justify {
  border-top: solid #555 1px;
  padding: 2%; }
  .row.text-justify img {
    width: 100%; }

header {
  opacity: .5;
  background: #ec2121 !important;
  border: none !important; }
  header a {
    opacity: 1; }

.padding {
  padding-left: 10%;
  padding-right: 10%; }

footer {
  clear: both;
  position: relative;
  top: 800px; }
  footer .social {
    -webkit-transition: 2s;
    transition: 2s;
    height: 80px; }
    footer .social .col-md-2 {
      padding: 1%;
      margin-top: 5px; }
    footer .social a {
      color: black;
      text-decoration: none; }
    footer .social #facebook {
      -webkit-transition: 2s;
      transition: 2s;
      padding: 1%; }
      footer .social #facebook .icon-social-facebook:before {
        -webkit-transition: 2s;
        transition: 2s;
        border-radius: 0;
        font-size: 50px;
        background: none;
        border: none; }
    footer .social #twitter {
      -webkit-transition: 2s;
      transition: 2s;
      padding: 1%; }
      footer .social #twitter .icon-social-twitter:before {
        -webkit-transition: 2s;
        transition: 2s;
        border-radius: 0;
        font-size: 50px;
        background: none;
        border: none; }
    footer .social #skype {
      -webkit-transition: 2s;
      transition: 2s;
      padding: 1%; }
      footer .social #skype .icon-social-skype:before {
        -webkit-transition: 2s;
        transition: 2s;
        border-radius: 0;
        font-size: 50px;
        background: none;
        border: none; }
    footer .social #linkedin {
      -webkit-transition: 2s;
      transition: 2s;
      padding: 1%; }
      footer .social #linkedin .icon-social-linkedin:before {
        -webkit-transition: 2s;
        transition: 2s;
        border-radius: 0;
        font-size: 50px;
        background: none;
        border: none; }
  footer #facebook:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0; }
    footer #facebook:hover .icon-social-facebook:before {
      -webkit-transition: 1s;
      transition: 1s;
      border: 0 solid #3b5998;
      border-radius: 15%;
      background: #3b5998;
      color: white;
      font-size: 60px; }
  footer #twitter:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0; }
    footer #twitter:hover .icon-social-twitter:before {
      -webkit-transition: 1s;
      transition: 1s;
      border: 0 solid #55acee;
      border-radius: 25%;
      background: #55acee;
      color: white;
      font-size: 60px; }
  footer #skype:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0; }
    footer #skype:hover .icon-social-skype:before {
      -webkit-transition: 1s;
      transition: 1s;
      border: 0 solid #12A5F4;
      border-radius: 15%;
      background: #12A5F4;
      color: white;
      font-size: 60px; }
  footer #linkedin:hover {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 0; }
    footer #linkedin:hover .icon-social-linkedin:before {
      -webkit-transition: 1s;
      transition: 1s;
      border: 2px solid #007bb5;
      background: #007bb5;
      color: white;
      font-size: 60px; }
